.header{
    background-color: #ffffff;
    text-align: center;
    font-size: 35px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 80%;
    padding: 0 4rem;
    transition:.5s ease all ;

}