:root {
  --green-primary-color: rgb(154, 213, 2);
  --white: #ffffff;
  --black: #000000;
  --navbar-background-color: #33bb24;
  --yellow-text-color: #ffd900;
  --menu-item-color: #848484;
  --dark-green-color: #28400c;
  --middle-green-color: #305704;
  --menu-green-color: #4cb50b;
}

.link{
  text-decoration: none;
  
}
.all-menu {
  font-size: 1rem;
  color: #000000;
  border-radius: 3px;
  background-color: #ededed;
  cursor: pointer;
  margin-right: 6px;
  padding: 0 10px;
  outline:none;
  
}
.all-menu i {
  color: #000000;
  border-radius: 3px;
  
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  border-radius: 20px;
  width: 65%;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1rem;
  color: var(--black);
  background-color: transparent;
  border-bottom: 1px solid var(--white-secondary-color);
}
.search-input:hover {
  outline: none;
  border: 1px solid var(--white-secondary-color);
  transition: 0.3s;
  border-radius: 20px;
}
.search-input:focus {
  border: 1px solid var(--white-secondary-color);
  transition: 0.3s;
  outline: none;
}

.search-btn {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 6px;
  padding: 0 10px;
}


