.Product {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  background-color: rgb(255, 255, 255);
  width: 257px;
  margin: 20px;
  cursor: pointer;
}
.product:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.product-image img {
  width: 100%;
  height: 250px;
}
.product-name {
  font-size: 15px;
  font-weight: 600;
}

.product-add_to_cart {
  border: none;
}
.product-add_to_cart button {
  color: white;
  padding: 0.8rem 2rem;
  background-color: chartreuse;
}
