.overview{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px ;
    font-family: 'Poppins', sans-serif;
    background-color:#f7f5ff;
    
}
.overview >.card{
    width: 200px;
    height: 100px;
    background-color: #f6f5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    &:hover{
        transform: scaleY(1) translateY(-3px)!important ;
        transition:.8s ease!important;
        background-color: rgb(3, 94, 49);
        color: whitesmoke;
    }
    
    

}
.overview .card .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(59, 62, 60);
    border-radius: 50%;
    border: 1px solid rgb(199, 201, 199);
    border: 2px solid green;


}
.overview .card .right{
    text-align: right;
    position: relative;
    
    

}
.overview .card .right >h3{
    font-size:1rem ;
    color: rgb(35, 149, 3);
    font-weight:500;
    font-family: 'Jost', sans-serif;
}
.overview .card .right >h2{
    font-size:1.5em;
    color: rgb(35, 149, 3);
    font-weight: 600;
}
.material-icon{
    margin-top: 15px;
    background: linear-gradient(2e92,2#243);
}
p{
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.plus{
    position: absolute;
    top:-4vh;
    left: 9vh;
    font-size: 2rem;
    color: rgb(0, 141, 70);
}